.main-content-class {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: stretch;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    margin: 0;
    height: 100vh;
}

.user-data-grid-class {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 20px;
    row-gap: 15px;

    background-color: rgb(223, 223, 213);

    text-align: center;

    border: solid;
    border-radius: 5px;
    border-color: rgb(77, 76, 75);

    padding: 10px;

    font-size: larger;
}

.table-header-class {
    font-weight: bold;
    font-size: x-large;

    border-bottom: solid;
}

.user-options-class {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.filter-class > label > input[type="checkbox"] {
    width: 22px;
    height: 22px;
    border-width: 1px;
    border-style: solid;
    border-color: #B3B3B3 #dcddde #dcddde #B3B3B3;
    background-image: linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px;
}

.filter-class {
    font-size: larger;

    margin: 25px;
}

.add-user-button-class {
    margin-left: auto;

    width: 115px;
    height: 35px;

    background-color: rgb(224, 196, 102);

    border-width: 1px;
    border-radius: 8px;
    border-color: rgb(104, 81, 6);

    font-size: large;
}

.add-user-button-class:hover {
    opacity: .75;

    border-color: rgb(73, 57, 5);
    box-shadow: 8px 8px 12px rgba(187, 133, 33, 0.76);
}

.add-user-button-class:active {
    opacity: .5;

    border-color: rgb(20, 16, 0);
    box-shadow: 5px 5px 5px rgba(187, 133, 33, 0.76);
}

.add-user-popup-class {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    overflow-y: auto;
    width: 100%;
    max-width: 400px;
    z-index: 999;
    background-color: rgb(224, 196, 102);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    border-radius: 8px;
    padding: 25px;
}

.add-user-popup-class > label > input {
    width: 155px;
    height: 28px;

    margin: 10px;
}

.add-user-popup-class > label {
    font-size: large;
    margin: 6px;
}

.popup-button-class {
    width: 115px;
    height: 35px;
    border: none;
}

.cancel-button {
    background-color: rgb(207, 87, 87);
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
}

.cancel-button:hover {
    opacity: 0.75;
    box-shadow: 8px 8px 11px rgb(141, 46, 46);
}

.cancel-button:active {
    opacity: 0.50;
    box-shadow: 8px 8px 11px rgb(141, 46, 46);
}

.popup-buttons-class {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.submit-button {
    background-color: rgb(48, 150, 45);
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
}

.submit-button:hover {
    opacity: 0.75;
    box-shadow: 8px 8px 11px rgb(29, 70, 27);
}

.submit-button:active {
    opacity: 0.50;
    box-shadow: 8px 8px 11px rgb(29, 70, 27);
}

.delete-option-class {
    font-size: medium;
    padding: 5px;
    background-color: rgb(211, 95, 95);
    text-align: center;
}

.delete-option-class:hover {
    opacity: .75;
}

.delete-option-class:active{
    opacity: 0.5;
}

.edit-option-class {
    font-size: medium;
    padding: 5px;
    background-color: rgb(118, 192, 108);
    text-align: center;
}

.edit-option-class:hover {
    opacity: .75;
}

.edit-option-class:active{
    opacity: 0.5;
}

.user-history-class {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    background-color: rgb(76, 153, 153);
}

.user-history-text > span {
    color: black;
    font-size: medium;
}

.user-history-text > span:visited {
    color: black;
    font-size: medium;

    text-decoration: none;
}

.user-history-class:hover {
    opacity: 0.75;
}

.user-history-class:active {
    opacity: 0.5;
}

.user-data-main-class {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(224, 196, 102);

    padding: 25px;
}

.user-data-header-class {
    margin-bottom: 20px;

    font-size: xx-large;
    color: black;

    font-weight: bold;
}

.user-info-class > span {
    margin: 8px;
}

.user-info-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px;

    color: black;
    font-size: x-large;

    margin-bottom: 10px;

    background-color: rgb(218, 200, 144);
}

.operations-header-class {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 8px;
}

.user-operations-class {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.user-operation-class {
    display: flex;
    flex-direction: column;

    background-color: rgb(223, 223, 223);

    padding: 5px;
    height: calc(90vh - 10px);

    overflow: hidden; 
    overflow-y: scroll;
}

.operation-class {
    display: flex;
    flex-direction: column;

    margin: 4px;

    background-color: rgb(218, 200, 144);

    border: solid;
    border-width: 1.5px;
    border-color: rgb(59, 59, 59);
}

.user-operation-button-class:hover {
    opacity: 0.6;
}

.user-operation-button-class:active {
    opacity: 0.4;
}

.goto-link-button-class {
    padding: 4px;
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
    background-color: rgb(149, 187, 106);
    margin: 7px;
}

.goto-link-button-class:hover {
    opacity: 0.6;
}

.goto-link-button-class:active {
    opacity: 0.35;
}

.user-option-class {
    display: flex;
    align-items: center;
    justify-content: center;
}

.operations-filter-class {
    display: flex;
    width: 100%;

    justify-content: space-around;
    align-items: center;
}